include ../../blocks/icon/icon

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header.form__header
            .ui__logo
                +icon('Group', '42px','42px')
        div.container 