$font-family-default: Montserrat;
$dark-100: var(--dark-100, #1F2041);
$dark-75: var(--dark-75, rgba(31, 32, 65, 0.75));
$dark-50: rgba(31, 32, 65, 0.50);
$dark-25: var(--dark-25, rgba(31, 32, 65, 0.25));
$dark-5: rgba(31, 32, 65, 0.05);
$purple: var(--primary-color, #BC9CFF);
$green: var(--secondary-color, #6FCF97);


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    border: 0;
    background: transparent;
    overflow: visible;
    color: inherit;
    font-family: inherit;
    text-align: inherit;
    vertical-align: baseline;
}

body {
    margin: 0;
}