@import '/src/styles/variables.scss';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.background-container {
    background-image: url('/src/assets/images/background.png'); 
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;

    .room-search {
        position: absolute;
        top:70px;
        left:140px;
    }

    &__text {
        color: var(--dark-75, rgba(31, 32, 65, 0.75));
        text-align: right;
        font-family: $font-family-default;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        position: absolute;
        bottom: 18px;
        right: 100px;
        display: block;
        text-align: left;
        
    }
}
