include ../field-heading/field-heading
include ../field-input/field-input
include ../dropdown/dropdown

mixin room-search(options) 
    -
        const {
            header = 'Найдём номера под ваши пожелания',
            arriving = '',
            departure = '',
            text = '',
            button_text = 'Подобрать номер',
        } = options;
    
    .room-search
        .room-search__header.h2=header
        form(action="/submit", method="post").form__date
            .field__wrapper
                +field-heading('Прибытие')
                +field-input({name: "start_date", masked:"start_date", 'expander':true, 'placeholder': 'ДД.ММ.ГГГГ'})
            .field__wrapper
                +field-heading('Выезд')
                +field-input({name: "end_date", masked:"end_date", 'expander':true, 'placeholder': 'ДД.ММ.ГГГГ'})
                
        +field-heading('Гости')
        +dropdown({id:'dropdown-guest-empty',open:false}, [
            {'data-id':'old','data-selection-text':'Взрослые', 'data-defaultcount':'0'},                
            {'data-id':'young','data-selection-text':'Дети', 'data-defaultcount':'0'},
            {'data-id':'too_young','data-selection-text':'Мланеднцы', 'data-defaultcount':'0'}
        ])