#slider,
#slider .noUi-handle {
    box-shadow: none;
}

#slider {
    margin-top: 20px;
}

/* Hide markers on slider handles */
#slider .noUi-handle::before,
#slider .noUi-handle::after {
    display: none;
}


.noUi-target { 
    width: 266px;
    height: 6px;

	.noUi-base { 

		.noUi-connects { 

			.noUi-connect { 
                border-radius: 3px;
                background: var(--Secondary-Gradient, linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%));
			}
		}

		.noUi-origin { 

			.noUi-handle { 
                width: 12px;
                height: 12px;
                top: -4px;
                right: -6px; /* half the width */
                border-radius: 10px;
                border: 2px solid #FFF;
                background: var(--Secondary-Gradient, linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%));
                box-shadow: none;

                .noUi-handle::before { 
                    
                }


				.noUi-touch-area { 

				}
			}
		}
	}
}