@import '/src/styles/variables.scss';

.checkbox-buttons {
    &__item {
      display: flex;
      margin-top: 12px;
    }

    &__text {
      color: var(--dark-50, rgba(31, 32, 65, 0.50));
      font-family: $font-family-default;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 128.571% */
      flex-grow: 0;
    }

    &__heading {
      color: var(--dark-75, rgba(31, 32, 65, 0.75));
      font-family: $font-family-default;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px; /* 128.571% */
    }
  
    &__input {
      display: none;
  
      &:checked + .checkbox-buttons__label .checkbox-buttons__custom-box {
        background: url('/src/assets/images/checkbox.svg') no-repeat center center;
        border:transparent;
        width:20px;
        height:21px;
      }
    }
  
    &__label {
      cursor: pointer;
      display:grid;
      grid-template-columns: 30px 1fr;
      grid-template-rows: 25px 1fr;
    }
  
    &__custom-box {
        width: 20px;
        min-width: 20px;
        max-width: 20px;
        height: 21px;
        min-height: 21px;
        max-height: 21px;
        border: 1px solid var(--dark-25, rgba(31, 32, 65, 0.25));
        border-radius: 4px;
        position: relative;
        margin-right:10px;
        box-sizing: border-box;
    }

    &.field__heading {
      margin-bottom: 18px;
    }
  }

  .expandable-buttons {
    position: relative;
  }

  .expandable-buttons .field__heading::after {
    position: absolute;
    content:"";
    right: -5%;
    top:2%;
    background: url(../../assets/images/expand_more.svg) no-repeat;
    height: 8px;
    width: 12px;
  }

  .expandable-buttons .checkbox-buttons__list {
    display:none;
  }

  .expandable-buttons.expandable-buttons--open .checkbox-buttons__list{
    transition: all .2s ease-in-out;
    display:block;
  }

  .expandable-buttons.expandable-buttons--open .field__heading::after {
    transform: rotate(180deg);
  }
