include ../../blocks/icon/icon
include ../../blocks/field-heading/field-heading
include ../../blocks/field-input/field-input
include ../../blocks/dropdown/dropdown
include ../../blocks/checkbox-buttons/checkbox-buttons
include ../../blocks/radio-buttons/radio-button
include ../../blocks/toggle/toggle
include ../../blocks/like-button/like-button
include ../../blocks/rating/rating
include ../../blocks/range-slider/range-slider
include ../../blocks/button/button
include ../../blocks/pagination/pagination

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header.form__header
            .ui__logo
                +icon('Group', '42px','42px')
        div.container 
            div.ui__wrapper
                section.fields
                    .field__wrapper
                        +field-heading('Text Field', 'Default')
                        +field-input({'placeholder': 'Email', 'name':'email', 'hover':false, 'date_range': false})
                        
                    .field__wrapper
                        +field-heading('Text Field', 'Hover/Focus')
                        +field-input({'name':'email', 'hover':'field__input-hover', 'value':'This is pretty awesome'})

                    .field__wrapper
                        +field-heading('Dropdown')
                        +dropdown({'label':'Сколько гостей'})

                    .field__wrapper
                        +field-heading('Masked text field')
                        +field-input({'name':'email', 'hover':false, 'placeholder':'ДД.ММ.ГГГГ', 'masked': 'field__input-masked'})

                    .form__date
                        .field__wrapper
                            +field-heading('Date dropdown')
                            +field-input({name: "start_date", masked:"start_date", 'expander':true, 'placeholder': 'ДД.ММ.ГГГГ'})
                        .field__wrapper
                            +field-heading('Date dropdown')
                            +field-input({name: "end_date", masked:"end_date", 'expander':true})
                    .field__wrapper-m
                        +field-heading('Filter Date dropdown')
                        +field-input({'name':'datedropdown', 'date_range':'date_range', 'expander':true})

                    .field__wrapper-m
                        +field-heading('Subscription text field')
                        +field-input({'name':'email', 'placeholder':'Email', 'subscr':true})

                section.checkboxes
                    +field-heading('Checkbox Buttons')
                    +checkboxButtons([
                        { text: 'Можно курить', checked: false },
                        { text: 'Можно с питомцами', checked: true },
                        { text: 'Можно пригласить гостей (до 10 человек)', checked: true },
                    ])
                    .radio
                        +field-heading('Radio Buttons')
                        +radioButtons(['Мужчина', 'Женщина'], 0)
                    .radio
                        +field-heading('Toggle')
                        +toggle('toggle', 0, 'switch', 'Получать спецпредложения')
                        +toggle('toggle', 1, 'switch-2', 'Получать спецпредложения')
                    .radio
                        +field-heading('Like button')
                        +like-button('like-button-1', 1, 'like', '2')
                        +like-button('like-button-2', 0, 'like', '12')
                    .radio
                        +field-heading('Range button')
                        +rating('rating', 4)
                        +rating('rating2')

                section.buttons
                    +field-heading('Range slider',description='5000-10000', slider=true)
                    div(id='slider')

                    .radio
                        +field-heading('Buttons', slider=false)
                        .buttons__grid
                            +button({isFilled:true, text:'Click me'})
                            +button({isFilled:true, text:'Click me', isOpacity: true})
                            +button({isFilled:false, text:'Click me', isOpacity: false})
                            +button({isFilled:false, text:'Click me', isOpacity: true})
                        
                        +button({isFilled:true, text:'Click me', isOpacity: false, unBordered: true})
                        +button({isFilled:true, text:'Click me', isOpacity: true, unBordered: true})
                        +button({isFilled:true, text:'Перейти к оплате', isBig: true})
                    
                    .radio
                        +field-heading('Pagination')
                        +pagination(15, 1)