include ../../blocks/icon/icon
include ../../blocks/field-heading/field-heading
include ../../blocks/field-input/field-input

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header.form__header
            .ui__logo
                +icon('Group', '42px','42px')
        div.container 
            div.ui__wrapper
                section.fields
                    .field__wrapper
                        +field-heading('Text Field', 'Default')
                        +field-input({'placeholder': 'Email', 'name':'email', 'hover':false})

                    +field-heading('Text Field', 'Hover/Focus')
                    +field-input({'name':'email', 'hover':true, 'value':'This is pretty awesome', 'masked': false})

                    .field__wrapper
                        +field-heading('Dropdown')
                        select(name='guests').field.dropdown__list
                            option(value='', disabled, selected) Сколько гостей
                            option(value='1').field 1
                            option(value='2').field 2
                            option(value='3').field 3
                            option(value='4').field 4
                            button.arrow

                    +field-heading('Masked text field')
                    +field-input({'name':'email', 'hover':false, 'placeholder':'ДД.ММ.ГГГГ', 'masked': true})

                    .form__date
                        .field__wrapper
                            +field-heading('Date dropdown')
                            input(type="date", name="first_date").field.field-masked
                        .field__wrapper
                            +field-heading('Date dropdown')
                            input(type="date", name="second_date" value="2019-08-19").field.field-masked
                    +field-heading('Filter Date dropdown')
                    input(type="text", name="date_range" id="date_range").field.date_range

                    +field-heading('Subscription text field')
                    +field-input({'name':'email', 'placeholder':'Email', 'subscr':true})
                section.checkboxes
                section.forms
