include ../../blocks/icon/icon
include ../../blocks/room-search/room-search
include ../../blocks/registration/registration
include ../../blocks/room-info/room-info
include ../../blocks/login/login
include ../../blocks/date-range/date-range
include ../../blocks/room-card/room-card

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header.form__header
            .ui__logo
                +icon('Group', '42px','42px')
        div.container
            .column 
                +room-search({
                    header:'Найдём номера под ваши пожелания',
                    button_text : 'Подобрать номер',
                })
                +registration('Регистрация аккаунта')
            .column 
                +room-info({
                    room_name:'888',
                    isLuxury:true,
                    cost:'9900',
                    arriving:'2019-08-19',
                    departure:'2019-08-23',
                    guests:3,
                })
                +login()
            .column 
                +date-range()
                +room-card({
                    room_name:'888',
                    room_price:'9 999',
                    reviews_count:5,
                    images:{
                    },
                    isLuxury:1
                })

                