mixin header(page='header')
    .container
        header(class=page)
            img(src=require('/src/assets/images/logo.svg')).logo
            if block
                block
            else 
                +navbar(classes='nav')
                    +nav(items,'nav_items')
                if auth
                    .auth__separator
                    a.auth Юлий Цезарь
                else
                    +button(' button--unfilled', 'ВОЙТИ')
                    +button(' button--filled', 'ЗАРЕГИСТРИРОВАТЬСЯ')